@import 'bootstrap/dist/css/bootstrap.min.css';

.container{
    height: auto;
    width: 50%;
    margin-top: 10%;
    //display: flex;
    justify-content: center;
    align-items: center;
}

.register-card{
    width: 24rem;
    margin: 0 auto;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
}

.frame1{
    border: 1px dotted whitesmoke;
    border-radius: 7px;
    width: 100% !important;
    margin-bottom: 10px;
}

.updateWorkOrgs{
    border: none;
    border-radius: none;
    margin-top: 0;
}

#workOrg{
    margin-left: 0 !important;
}

.foot1{
    margin: auto;
}