@import 'bootstrap/dist/css/bootstrap.min.css';

.container{
    height: auto;
    width: 50%;
    margin-top: 10%;
    //display: flex;
    justify-content: center;
    align-items: center;
}

.register-card{
    width: 24rem;
    margin: 0 auto;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
}