@import 'bootstrap/dist/css/bootstrap.min.css';

.container{
    height: auto;
    width: 50%;
    margin-top: 10%;
    //display: flex;
    justify-content: center;
    align-items: center;
}

.register-card{
    width: 24rem;
    margin: 0 auto;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
}

.frame1{
    border: 1px dotted whitesmoke;
    border-radius: 7px;
    width: 100% !important;
    margin-bottom: 10px;
}

.updateWorkOrgs{
    border: none;
    border-radius: none;
    margin-top: 0;
}

#workOrg, #type{
    margin-left: 0 !important;
}

.foot1{
    margin: auto;
}

.avatar{
    border-radius: 3px;
    max-width: 100%;
}

.avatarTd{
    padding: 5%;
    background-color: white !important;
    border: 1px solid black !important;
    border-radius: 3px !important;
}

.actionsContainer{
    padding-bottom: 7% !important;
}

@keyframes myAnimation{
    0%{
        display: none;
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
  
.temporary{
    display: block !important;
    animation-name: myAnimation;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
}